/* navbar brand */
.navbar-brand{
  position: fixed;
  top: 0em;
  left: 2em;
  background-color: lightgrey;
  border: 0.05em solid black;
  font-size: 2.7vw;
  padding: 0.7em 0.7em;
  z-index: 2;
  display: block;
  text-decoration: none;
  color: black;
  box-shadow: .2em .2em #003F87;
}
/* make sure hovering doesn't change the color of it */
.navbar-brand:hover {
  color: black;
}
.navbar-brand:focus {
  color: black;
}

/* navbar */
.navbar{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  margin-bottom: 5em;

}
nav{
  background-color: #333;
}

/* navbar items */
.nav-link {
  text-align: center;
  font-size: 0.8em;
  text-decoration: none;
}

ul li a {
  text-decoration: none;
  display: block;
  padding: 1.7em 3em;
}

/* button for the active page */
.active {
  background-color: #003F87;
  border-radius: 5em 0.3em;
}

/* media queries: */
/* before collapse */
@media only screen and (min-width: 768px) {
  .nav-item {
    font-size: 1.5vw;
  }
  .nav-link {
    margin: 0em 0.25em;
  }
  .navbar{
    padding: 0em
  }
}
/* after collapse */
@media only screen and (max-width: 767px) { /* navbar collapses at 767 pixels */
  .navbar-brand{
    font-size: 1.4em;
    left: 1em;
  }
  .navbar{
    padding: 0.7em
  }
  .nav-link {
    margin: 0em;
    font-size: 0.7em;
  }
  /* shift the top link down for the drop down to account for the navbar brand */
  .topLink{
    margin-top: 25px;
  }
}
