/* navbar brand */
.navbar-brand{
  position: fixed;
  top: 0em;
  left: 2em;
  background-color: lightgrey;
  border: 0.05em solid black;
  font-size: 2.7vw;
  padding: 0.7em 0.7em;
  z-index: 2;
  display: block;
  text-decoration: none;
  color: black;
  box-shadow: .15em .15em #003F87;
}

/* make sure hovering doesn't change the color of it */
.navbar-brand:hover {
  color: black;
}
.navbar-brand:focus {
  color: black;
}

/* navbar */
.navbar{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  margin-bottom: 3em;

}
nav{
  background-color: #333;
}

/* navbar items */
ul li a {
  font-size: 0.8em;
  text-align: center;
  text-decoration: none;
  display: block;
  padding: 2.3em 3em;
  border-radius: 5em 0.3em;
}
/* hovering over other items */
ul li a:hover {
  background-color: #111;
  color: white;
}
/* button for the active page, override the blue color for current */
.active {
  background-color: #003F87 !important;
}

/* media queries: */
/* before collapse */
@media only screen and (min-width: 768px) {
  .nav-item {
    font-size: 1.5vw;
  }
  .nav-link {
    margin: 0em 0.25em;
  }
  .navbar{
    padding: 0em
  }
}
/* after collapse */
@media only screen and (max-width: 767px) { /* navbar collapses at 767 pixels */
  .navbar-brand{
    font-size: 1.4em;
    left: 1em;
  }
  .navbar{
    padding: 0.7em
  }
  .nav-link {
    margin: 0em;
    font-size: 0.7em;
  }
  /* shift the top link down for the drop down to account for the navbar brand */
  .topLink{
    margin-top: 25px;
  }
}
