<div class="container">
  <section class="pageData">
  <h1>About</h1>

  <p>
    <img class="profileImg" src="../../assets/images/Me.JPG" alt="Jeremy">
    I'm a Computer Science major in my junior year at
    Southern Methodist University in Dallas, Texas.
    I was born in Denver, Colorado and raised in Naples, Florida.
    I'm the youngest of four and the godfather to two of my five nieces.
    When I'm not programming, I'm usually running on the beach, taking pictures of said beach,
    contributing to the literary zeitgeist with my debilitatingly sarcastic short stories, or
    composing cacophonous percussion music for my own selfish enjoyment.
    Below you'll find lists of my hobbies and interests:
  </p>
  <br>
  <div class="disclaimer">
    <hr>
    <strong>NOTE: </strong> all images used on this site were taken by me.
  </div>

  <br>
  <br>


  <section>
  <div>
      <table>
          <tr>
              <th>Hobbies:</th>
          </tr>
          <tr>
              <td>Programming</td>
          </tr>
          <tr>
              <td>Photography</td>
          </tr>
          <tr>
              <td>Running</td>
          </tr>
          <tr>
              <td>Writing short stories</td>
          </tr>
          <tr>
              <td>Composing music</td>
          </tr>
      </table>
  </div>

  <br>
  <hr>
  <br>

  <div>
      <table>
          <tr>
              <th>Interests:</th>
          </tr>
          <tr>
              <td>Computer Science</td>
          </tr>
          <tr>
              <td>Technology</td>
          </tr>
          <tr>
              <td>Romantic period classical music</td>
          </tr>
          <tr>
              <td>Film</td>
          </tr>
          <tr>
              <td>Sarcasm</td>
          </tr>
          <tr>
              <td>Star Wars</td>
          </tr>
      </table>
  </div>
  </section>

  </section>
</div>
<br>
<br>
