<div class="container">
    <h2>Courses</h2>
    <p>Below are some courses I have taken at Southern Methodist University for my Computer Science Degree</p>

    <section>
    <div>
        <table>
            <tr>
                <th>Relevant Coursework:</th>
            </tr>
            <tr>
                <td>Data Structures</td>
            </tr>
            <tr>
                <td>Algorithms</td>
            </tr>
            <tr>
                <td>Programming Languages</td>
            </tr>
            <tr>
                <td>Databases</td>
            </tr>
            <tr>
                <td>Graphical User Interfaces</td>
            </tr>
            <tr>
                <td>Digital Computer Design using Verilog</td>
            </tr>
            <tr>
                <td>Operating Systems</td>
            </tr>
            <tr>
                <td>Information Assurance and Security</td>
            </tr>
            <tr>
                <td>Software Engineering</td>
            </tr>
        </table>
    </div>
    </section>

    <br>
    <div class="btn-container">
      <button class="btn btn-secondary my-btn" (click)="topFunction()">Back to Top</button>
    </div>

</div>

<br>
<br>
