<div class="container">
  <h2>Work History</h2>
    <p>Below are a list of my previous jobs and the duration of my time there. They are in order of how recently I worked there.</p>
    <section>
      <div>
          <table>
              <tr>
                <th>Position</th>
                <th>Company</th>
                <th>Location</th>
                <th>Duration Worked</th>
              </tr>
              <tr>
                  <td>Stage Manager</td>
                  <td><a href="https://www.smu.edu/meadows">Meadows School of the Arts</a></td>
                  <td>Southern Methodist University</td>
                  <td>February 2016 - Present (school months)</td>
                </tr>
              <tr>
                  <td>Sales Associate</td>
                  <td><a href="https://www.express.com/">Express</a></td>
                  <td>NorthPark Center Mall: Dallas, TX</td>
                  <td>August 2018 - Present</td>
              </tr>
              <tr>
                <td>Sales Associate</td>
                <td><a href="https://www.express.com/">Express</a></td>
                <td>Coastland Center Mall: Naples, FL</td>
                <td>June 2018 - August 2018</td>
              </tr>
              <tr>
                <td>Summer Conference Leader</td>
                <td><a href="https://www.smu.edu/StudentAffairs/Housing">Resident Life and Student Housing</a></td>
                <td>Southern Methodist University</td>
                <td>May 2017 - August 2017</td>
              </tr>
              <tr>
                <td>Sales Associate</td>
                <td><a href="https://www.hottopic.com/">Hot Topic</a></td>
                <td>Coastland Center Mall: Naples, FL</td>
                <td>July 2016 - January 2017 (school breaks)</td>
              </tr>
          </table>
      </div>
      </section>
  <br>
  <hr>
  <br>
  </div>

  <div class="container">
      <h2>Programming Proficiencies</h2>
      <p>Below are a list of languages that I am adept at coding in:</p>
      <section>
            <table>
                <tr><th>Language</th></tr>
                <tr><td>C++</td></tr>
                <tr><td>Java</td></tr>
                <tr><td>Python</td></tr>
                <tr><td>Angular/Typescript</td></tr>
                <tr><td>MySQL</td></tr>
                <tr><td>Scala</td></tr>
                <tr><td>XCode/Swift</td></tr>
            </table>
      </section>
      <br>
      <hr>
      <br>
  </div>

  <div class="container">

  <h2>Courses</h2>
    <p>Below are some courses I have taken at Southern Methodist University for my Computer Science Degree</p>

    <section>
    <div>
        <table>
            <tr>
                <th>Relevant Coursework:</th>
            </tr>
            <tr>
                <td>Data Structures</td>
            </tr>
            <tr>
                <td>Algorithms</td>
            </tr>
            <tr>
                <td>Programming Languages</td>
            </tr>
            <tr>
                <td>Databases</td>
            </tr>
            <tr>
                <td>Graphical User Interfaces</td>
            </tr>
            <tr>
                <td>Digital Computer Design using Verilog</td>
            </tr>
            <tr>
                <td>Operating Systems</td>
            </tr>
            <tr>
                <td>Information Assurance and Security</td>
            </tr>
            <tr>
                <td>Software Engineering</td>
            </tr>
        </table>
    </div>
    </section>

    <br>
    <div class="btn-container">
      <button class="btn btn-secondary my-btn" (click)="topFunction()">Back to Top</button>
    </div>

</div>

<br>
<br>
