/* table section */
table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 0.1em solid #dddddd;
  text-align: left;
  padding: 8px;
  opacity: 1.0;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
/* end table section */

a {
  color: #005fcc;
}

.my-btn {
  margin-left: auto;
  margin-right: auto;
}

.btn-container {
  text-align: center;
}
