<div class="contactMe">
  <h2>Contact</h2>
  <div class="contactInfo">
    <strong>Email:&nbsp;&nbsp;</strong><a class="emailMe" href="mailto:jeremybrachle@gmail.com">jeremybrachle@gmail.com</a>
    <br>
    <hr>
    <div>You can also contact me through social media:</div>
      <a href="https://www.instagram.com/jeremybrachle/" class="fa fa-instagram"></a>
      <a href="https://www.linkedin.com/in/jeremy-brachle-8b4331133" class="fa fa-linkedin"></a>
      <a href="https://github.com/jeremybrachle" class="fa fa-github"></a>
  </div>
</div>

<div>
  <img class="contactImg" src="../../assets/images/sunset.jpg" alt="Sunset">
</div>
