.contactMe {
  border: 0.1em solid black;
  padding-left: 1.2em;
  padding-right: 1.2em;
  padding-bottom: 1em;
  background-color: lightgrey;
  margin-left: 9em;
  margin-right: 1em;
  margin-bottom: 3em;
  border: 0.135em solid black;
  box-shadow: .2em .2em #003F87;
}

.contactHeader {
  float: left;
}

hr {
  margin-top: 1em;
  margin-bottom: 1em;
}

.labelText {
  font-size: 1.2em;
}

.clearForm {
  float: right;
  color: white;
  background-color: #003F87;
  font-size: 1em;
}

.uInput {
  font-size: 1.2em;
  padding: 0.5em;
  margin-bottom: 0em;
  display: block;
  border-radius: 0.8em;
}

.alertSpace {
  margin-bottom: 0em;
  border-radius: 0.8em;
  padding: 0.3em;
}

.contactInfo {
  margin-left: 0.8em;
  margin-bottom: 1em;
}

textarea {
  min-height: 3em;
  max-height: 20em;
}

.contactButton {
  background-color: #333;
  color: white;
  font-size: 1em;
  border-radius: 0.8em;
}

.contactButton:hover:enabled {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}

.contactButton:hover:disabled {
  cursor: not-allowed;
}

.fa-info-circle {
  float: right;
  color: #333;
  font-size: 1.8em;
  margin-top: 0.7em;
}


.editForm {
  float: right;
}

.openModal {
  font-size: 1em;
  float: right;
  border-radius: 0.8em;
}

.closeModal {
  font-size: 1em;
}

.inputData {
  margin: 1.3em 0em;
  width: 100%;
  padding: 0.5em;
  display: block;
}

h2{
  margin-top: 0.5em;
}

img {
  z-index: -1;
  position: fixed;
  height: 100%;
  width: 100%;
}

.emailMe {
  color: #003F87;
  text-decoration: underline;
}

/* font-awesome */
.fa:hover {
  opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: #333;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

/* media queries */
/* before collapse */
@media only screen and (min-width: 768px) {
  h2{
    font-size: 2.9em;
  }
  .contactMe{
    width: 30em;
    font-size: 0.55em;
    margin-top: 1.5em;
  }
  img{
    top: 0px;
  }
  .prompt {
    margin-top: 0.3em;
    font-size: 1.2em;
    color: white;
    text-shadow: 0.5px 0.5px 0.5px black, 0 0 3px black, 0 0 1px #003F87;
  }
  .contactWrapper {
    padding-bottom: 5.4em;
  }
  .fa-contact {
    padding-top: 22px;
    font-size: 30px;
    width: 75px;
    height: 75px;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
    text-align: center;
  }
}

/* after collapse */
@media only screen and (max-width: 767px) { /* navbar collapses at 767 pixels */
  h2{
    font-size: 2.7em;
  }
  .contactMe{
    width: 29em;
    font-size: 0.60em;
    margin-top: 1.5em;
    margin-left: 3em;
    display: block;
  }
  img{
    top: 62px;
  }
  .prompt {
    font-size: 1.2em;
    color: white;
    text-shadow: 0.5px 0.5px 0.5px black, 0 0 3px black, 0 0 1px #003F87;
  }
  .contactWrapper {
    padding-bottom: 5.9em;
  }
  .fa-contact {
    padding-top: 19px;
    font-size: 20px;
    width: 62px;
    height: 62px;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
    text-align: center;
  }
}
