.contactMe {
	width: 35em;
	position: fixed;
  border: 0.1em solid black;
  padding-left: 1.2em;
  padding-right: 1.2em;
  padding-bottom: 1em;
  background-color: lightgrey;
  margin: 0em 1em 4em 9em;
  border: 0.135em solid black;
  box-shadow: .2em .2em #003F87;
}

.prompt {
  padding-bottom: 1em;
}

h2{
  margin-top: 0.5em;
}

img {
  z-index: -1;
  position: fixed;
  height: 100%;
  width: 100%;
}

.inputData {
  margin: 0.2em 0em;
  width: 100%;
  padding: 1em;
  display: block;
}

#message {
  height: 12em;
  resize: vertical;
}

button {
  background-color: #333;
  color: white;
}

/* media queries */
/* before collapse */
@media only screen and (min-width: 768px) {
  h2{
    font-size: 2.5em;
  }
  .contactMe{
    font-size: 0.7em;
  }
  img{
    top: 0px;
  }
  .prompt {
    font-size: 1.05em;
  }
}
/* after collapse */
@media only screen and (max-width: 767px) { /* navbar collapses at 767 pixels */
  h2{
    font-size: 3.4em;
  }
  .contactMe{
    font-size: 0.5em;
    margin-left: 3em;
    display: block;
  }
  img{
    top: 62px;
  }
  .prompt {
    font-size: 1.2em;
  }
}
