<div class="contactMe">
  <h2>Contact</h2>
  <p>Send me a message and I'll get in touch with you within 24 hours!</p>

  <form id="contact" action="" method="post">
    <input placeholder="Name" class="inputData" type="text" tabindex="1" required autofocus>
    <br>
    <input placeholder="Email" class="inputData" type="text" tabindex="2" required>
    <br>
    <textarea id="message" placeholder="Type your message here" class="inputData" tabindex="3" required></textarea>
    <br>
    <button name="submit" class="inputData" type="submit" id="contact-submit" data-submit="...Sending">
      Submit
    </button>
  </form>
</div>

<div>
  <img class="contactImg" src="../../assets/images/sunset.jpg" alt="Sunset">
</div>
