.contactMe {
	/* position: fixed; */
  border: 0.1em solid black;
  padding-left: 1.2em;
  padding-right: 1.2em;
  padding-bottom: 1em;
  background-color: lightgrey;
  margin-left: 9em;
  margin-right: 1em;
  margin-bottom: 4em;
  border: 0.135em solid black;
  box-shadow: .2em .2em #003F87;
}

.contactInfo {
  margin-top: 1em;
  margin-left: 0.8em;
  margin-bottom: 1em;
}

button {
  background-color: #333;
  color: white;
}

.inputData {
  margin: 1.3em 0em;
  width: 100%;
  padding: 0.5em;
  display: block;
}

h2{
  margin-top: 0.5em;
}

img {
  z-index: -1;
  position: fixed;
  height: 100%;
  width: 100%;
}

.emailMe {
  color: #003F87;
  text-decoration: underline;
}

/* font-awesome */
.fa:hover {
  opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: #333;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

/* media queries */
/* before collapse */
@media only screen and (min-width: 768px) {
  h2{
    font-size: 2.5em;
  }
  .contactMe{
    width: 30em;
    font-size: 0.75em;
    margin-top: 1.5em;
  }
  img{
    top: 0px;
  }
  .prompt {
    font-size: 0.9em;
  }

  .fa {
    padding-top: 22px;
    font-size: 30px;
    width: 75px;
    height: 75px;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
    text-align: center;
  }
}

/* after collapse */
@media only screen and (max-width: 767px) { /* navbar collapses at 767 pixels */
  h2{
    font-size: 3em;
  }
  .contactMe{
    width: 29em;
    font-size: 0.65em;
    margin-top: 1.5em;
    margin-left: 3em;
    display: block;
  }
  img{
    top: 62px;
  }
  .prompt {
    font-size: 1.2em;
  }
  .fa {
    padding-top: 19px;
    font-size: 20px;
    width: 62px;
    height: 62px;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
    text-align: center;
  }
}
