<div class="container">

<!--PAGE DATA-->
    <h2>Home</h2>

    <p>Welcome to the website of Jeremy Brachle! Click on the links above to learn stuff about me</p>

</div>


<div class="statement">
  <strong>Statement of Skill:</strong><br>
  I am the very model of a modern major programmer<br>
  I've information: algorithms, data-structures, tech support<br>
  I code in many languages, I list their names syntactically, <br>
  from C++ to JavaScript in order polymorphically<br>
  I'm very well acquianted too with matters compilational<br>
  I understand numerics both binary, hexadecimal<br>
  About full stack development I'm brimming with a lot of skill...<br>
  With much dexterity in coding CSS and MySQL<br>
  I'm very good at data-mining, information processing <br>
  I know assembly code and principles of mulitprogramming <br>
  In short in matters algorithms, data-structures, tech support<br>
  I am the very model model of a modern major programmer <br>
</div>

<div>
  <img class="homeImg" src="../../assets/images/Beach.jpg" alt="Beach">
</div>

