<div class="container">
  <h1>
  Home Page
  </h1>
  <div>
    <button type="button" class="btn btn-primary">Home</button>

  </div>

  <button type="button" class="btn btn-secondary">Secondary</button>
  <button type="button" class="btn btn-danger">Danger</button>

  <div class="btn btn-warning">Warning</div>

  <br>
  <br>
  <br>


  <button>hello world</button>
  <br>
  <br>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


</div>

