/* statement */
.statement {
  border: 0.1em solid black;
  margin: 0em 3em;
  padding: 0em 1em;
  /* font-size: 2vw; */
  width: 90%;
  text-align: center;
}


/* media queries */
/* before collapse
@media only screen and (min-width: 768px) {

}
*/
/* after collapse */
@media only screen and (max-width: 767px) {
  .statement {
    font-size: 1.9vw;
  }
}
/* override to make the font readable on mobile screens */
@media only screen and (max-width: 567px) {
  .statement {
    font-size: 2.7vw;
  }
}

